<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC Hotel</title>
</head>
<body>

    <!-- Top navigation bar -->
    <nav class="navbar">
        <img src="/img/logo.png" class="navbar-logo">
        <a th:href="@{/}" class="navbar-link">Domů</a>
        <a th:href="@{/locations}" class="navbar-link">Naše pobočky</a>
        <a th:href="@{/about}" class="navbar-link">O nás</a>
    </nav>

    <!-- Main page content -->
    <div class="page-content">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam sapien sem, ornare ac, nonummy non, lobortis
            a enim. Duis condimentum augue id magna semper rutrum. In dapibus augue non sapien. Donec vitae arcu.
            Praesent dapibus. Maecenas libero. Donec iaculis gravida nulla. Nulla non lectus sed nisl molestie
            malesuada. Nam quis nulla. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Nunc
            tincidunt ante vitae massa. Maecenas lorem.
        </p>
    </div>

</div>
</body>
</html>